.mediaBtn {
  display: flex;
  align-items: center;
  padding: 9px;
  margin: 15px auto;
  gap: 20px;
  width: 370px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  img {
    width: 35px;
  }
  h6 {
    text-align: center;
    font-size: 15px;
  }
}
